#month {
	font-size: 24px;
	display: inline;
}
.appname{
	font-family: 'Roboto Slab', serif;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
 }
 .dashboard {
    font-family: "Helvetica",sans-serif;
    padding-top:10px;
    padding-left:45px;
    display:inline-block;
    -webkit-transform:scale(8,25); /* Safari and Chrome */
    -moz-transform:scale(8,25); /* Firefox */
    -ms-transform:scale(8,25); /* IE 9 */
    -o-transform:scale(8,25); /* Opera */
    transform:scale(8,25); /* W3C */
 }
 .verify {
    font-family: "Helvetica",sans-serif;
    padding-top:27px;
    padding-left:0px;
    display:inline-block;
    -webkit-transform:scale(8,25); /* Safari and Chrome */
    -moz-transform:scale(8,25); /* Firefox */
    -ms-transform:scale(8,25); /* IE 9 */
    -o-transform:scale(8,25); /* Opera */
    transform:scale(8,25); /* W3C */
 }
 .rosters {
    font-family: "Helvetica",sans-serif;
    padding-top:44px;
    padding-left:0px;
    display:inline-block;
    -webkit-transform:scale(8,25); /* Safari and Chrome */
    -moz-transform:scale(8,25); /* Firefox */
    -ms-transform:scale(8,25); /* IE 9 */
    -o-transform:scale(8,25); /* Opera */
    transform:scale(8,25); /* W3C */
 }