## APPLICATION SPECIFIC ##
img/courses/
admin/analyticstracking.php
admin/settings.php

## SUBLIME ##
*.sublime-workspace

## VIM ##
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## MAC OS X ##
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

