<?php
	/** DATABASE SETTINGS **/
	$db = "";
	$db_username = "";
	$db_password = "";
	$host = "";

	/** LDAP SETTINGS **/
	$ldap_server="";
	$ldap_user_suffix="";
	$ldap_search_ou="";

	/** SCHOOL SETTINGS **/
	$school_name="";

?>